.container {
  display: grid;
  grid-template: "container";
  place-items: center;
  place-content: center;
  overflow: hidden;
  width: 100%;
}

.container > * {
  grid-area: container;
  max-width: 150rem;
}

.container .imagen {
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  z-index: -1;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  z-index: 1;  
}

@media (min-width: 768px) {
  .title {
    font-size: 4rem;
  }
} 